* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    color: #39ff14;
  }
  .container {
    background-color: #003300;
    height: 100vh;
    overflow-y: auto;
  }
  #terminal {
    font-size: 1.2em;
    white-space: pre-line;
  }
  .blinking {
    animation: blink 1s steps(2, start) infinite;
  }
  @keyframes blink {
    to {
      opacity: 0;
    }
  }
  #matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .container,
  #terminal {
    position: relative;
    z-index: 1;
  }